.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.name {
  margin: 0;
}

.list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
}

.list > * + * {
  margin-top: 1rem;
}
