.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.headerDark {
  border-bottom: 1px solid #0f1114;
}

.name {
  margin: 0;
}

.headerDark > .name {
  color: #ffffffe0;
}

.list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
}

.listDark {
  border-bottom: 1px solid #0f1114;
}

.list > * + * {
  margin-top: 1rem;
}

.emptyTodosMessage {
  margin: 1rem;
  animation: fadeIn 250ms;
}

.emptyTodosMessageDark {
  color: #ffffffe0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
