.todo {
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.todoFinished > .text {
  opacity: 0.5;
}

.todoFinished:hover > .text,
.todoFinished:hover > .text,
.todoFinished:hover > .text {
  opacity: 1;
}

.todoRemoving {
  animation: fadeOutUp 250ms;
}

.text {
  margin: 0 1rem;
}

.favoriteToggle {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: auto;
  cursor: pointer;
}

.favoriteToggle:hover > svg,
.favoriteToggle:focus {
  color: #20b5f9;
}

.favoriteToggle:active > svg {
  color: #1daafa;
}

.favoriteToggleActive {
  color: #1daafa;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}
