.todo {
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: 500;
  display: flex;
}

.todoRemoving {
  animation: fadeOutUp 250ms;
}

.text {
  margin-left: 1rem;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}
