.actions {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.actionsToggle {
  padding: 0;
  flex-shrink: 0;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-left: auto;
}

.actionsToggleDark {
  color: #ffffffe0;
}

.actionsList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  position: absolute;
  top: 1.5rem;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.actionsListDark {
  background-color: #0f1114;
  border: 1px solid #0f1114;
}

.actionsListItem {
  background-color: #ffffff;
  cursor: pointer;
}

.actionsListItemDark {
  background-color: #0f1114;
}

.actionsListItem:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.actionsListItemDark:not(:last-child) {
  border-bottom: 1px solid #0f1114;
}

.actionsListItemHighlighted {
  background-color: #f1f1ff;
}

.actionsListItemHighlightedDark {
  background-color: #0f1114;
}

.actionsListItemControl {
  background-color: #ffffff;
  padding: 0.5rem;
  width: 100%;
}

.actionsListItemControlDark {
  background-color: #0f1114;
}

.actionsListItemControlTop {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.actionsListItemControlBottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
